body{
    font-size: 18px;
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}
h1 h2 h3 h4 h5 h6{
    font-family: 'Roboto', sans-serif;
    color: #000000;
}
li{
    color: #000000;
    list-style: none;
}
p{
    color: #000000; 
    font-size: 18px;
}
a{
    text-decoration: none;
}
/* navbar admin */
.navbar {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.welcome .nav-item .nav-link{
    width: 100%;
    height: auto;
}
.user-name{
    margin: 0px 5px;
}
.dropdown-menu{
    width: 100%;
    height: auto;
}
.user-info{
    width: 100%;
    height: auto;
}
.name-website a{
    text-decoration: none;
    color: #000000;
}
.seach-wapper{
    width: 100%;
    height: auto;
    margin: 20px 0px;
}
#search-btn{
    color: #000000;
}
#search-text{
    padding: 5px 10px;
}
.card-shopping{
    margin-top: auto;
    margin-bottom: auto;
}
.product-list{
    margin: 0;
}
.logo{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;
}
.table-user{
    margin-top: 20px;
}
.tbody th{
    text-align: center;
}
.login-wapper{
    min-height: 80vh;
}
.login-form{
    border: #a29797 solid 1px;
    border-radius: 5px;
}
.navbarlogin{
    background-color: #009688;
    margin-top: 1%;
}
.navbarlogin a{
    color: #FFFF;
}
